<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.example.security">
    <resources>
        <resource-root path="simple-login-module.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.security.auth.message.api"/>
    </dependencies>
</module>
